header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.header__me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 15rem;
    height: 15rem;
    margin-left: calc(50% - 7.5rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    margin-bottom: 2rem;
}

.header__me img {
    height: 100%;
    align-items: center;
}
